@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background: #f5f5f5;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

.user-icon {
    width: 30px;
    border-radius: 100%
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link .right-icon {
    transition: all 0.5s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media(min-width: 992px) {
    .offcanvas-backdrop {
        display: none !important;
    }

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }
}
